
.icon-star:before { content: '\e800'; } /* '' */
.icon-mail-2:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */